.content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
}

.join {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.create_button {
	width: 100;
}

