{% extends 'base.html' %} {% block content %}
<!-- Form for login -->
<form method="post" class="input">
  <h3>Create, Join, or Reconnect to Chat</h3>
  <div>
    <label>Chat Handle:</label>
    <input
      type="text"
      placeholder="Enter Nickname"
      name="handle"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input type="text" placeholder="Room ID" name="code" value="{{code}}" />
    <button type="submit" name="join_room">Join Room</button>
  </div>
  <button type="submit" name="create_room" class="create_button">
    Create New Chat Room
  </button>

  <!-- Display errors if there are errors otherwise hide -->
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>

{% endblock %}
